@import 'tailwindcss';
@import 'tw-animate-css';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@theme inline {
  --animate-grid: grid 20s linear infinite;
  @keyframes grid {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@layer base {
  .prose
    :is(h1, h2, h3, h4, h5, h6)
    :where(a):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    @apply no-underline underline-offset-6 decoration-dashed transition-all duration-150 ease-out decoration-1;

    &:hover {
      @apply underline;
    }
  }
}

@layer utilities {
  .prose
    :where(a:not([data-card])):not(
      :where([class~='not-prose'], [class~='not-prose'] *)
    ) {
    @apply decoration-dashed transition-all duration-150 ease-out decoration-1;
  }

  .no-max-h {
    @apply max-h-none;
  }
}
